Math.css
*{
    margin: 0;
    padding: 0;

}
body{
    background: url('math.jpeg');
    background-size: cover;
}
section{
   
    height:100hv;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    text-align: center;
}
ul li{
    list-style: none;
    margin: 14px 0 ;
    
}
ul h1{
    color: white;
    font-size: 50px;
}
ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 3px;
    background: rgb(13, 13, 14);
    padding: 15px 85px;
    border-radius: 40px;
    display: inline-block;
    width: 100px;
    transition: 0.5s;
    text-transform: uppercase;
    position: relative;
    z-index: 10;
}
ul:hover li a{
    opacity: 0;
}
ul li a:hover{
    transform: scale(1.5);
    background:gray;
    opacity: 1;
}
ul li::after{
    content: attr(data-text);
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% ,-50%);
    font-size: 80px;
    font-weight: 800;
    text-transform: uppercase;
    opacity: 0;
    pointer-events: none;
    letter-spacing: 50px;
    transition: 0.7s;
}
ul li:hover::after{
    opacity: 0.5;
    letter-spacing: 5px;
}
ul li::before{
    content: '';
    height: 80px;
    width: 180px;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% ,70%);
    border-radius: 50%;
    box-shadow: 0 0 80px darkblue;
    opacity: 0;
}
ul li:hover::before{
    opacity: 0.7;
    width: 80px;
    transition: 0.7s;

}