<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg " style="height: 500px;">
  <div class="" *ngIf="Restaurant else spinner">
    <div class="row">
      <div class="col-lg-12">
        <img class="" style="width:100%; height: auto ;margin-top: -100px;" src="https://s3-eu-west-1.amazonaws.com/elmenusv5-stg/Normal/9ac7f67e-0927-4347-a1f8-6c62d9c41c9b.jpg">
      </div>
      <div col-lg-3 style="width: 200px; height: 200px; z-index: 1;">
        <img style=" border-radius: 50%; margin-top: -20px;" src="data:image/jpeg;base64,{{ Restaurant.poster }}">
      </div>
      <div class="col-lg-9  text-left" style="position: relative; bottom: 5px;">
        <div class="breadcrumb-text">
          <h1>{{ Restaurant.name }}</h1>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- end breadcrumb section -->

  <!-- products -->
  <div class="product-section ">
  <div class="container block mt-5 " >

          <label class="block mt-5">
            <span class="text-gray-700 dark:text-gray-400   ">
              categories
            </span>
            <select (change)="filterbycat($event)"
              class="block w-25    dark:text-gray-300  mt-5 dark:border-gray-600 dark:bg-gray-700 form-select
               focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
            >
            <option value="All" selected > All </option>
              <option value="{{c.name}}" *ngFor="let c of categories "  >{{c.name}}</option>

            </select>
          </label>


<!--  ///////////////////////////////////////////////////////  -->


<main>
  <header>
    <h1>Top Dishes </h1>
    <p>
      <span>&#139;</span>
      <span>&#155;</span>
    </p>
  </header>
  <section>
    <div class="product" *ngFor="let c of topdishes">
      <div class="product-image" >
        <a routerLink="/singleProduct/{{c.itemID}}" >
          <img src="data:image/jpeg;base64,{{ c.image }}" alt=""></a>
      </div>
      <div class="detail">
        <p  >
          <b>{{c.name}}</b><br>
          <small> {{c.description}} </small>
          <br>
          <b>Price</b>
          <samp class="ml-5">    {{c.price}} EGP </samp>
        </p>
      </div>
       <button class=" tbtn  "  (click)="addtocart(c)"  data-toggle="modal"> <a  class="cart-btn" ><i class="fas fa-shopping-cart"></i> Add to Cart</a></button>
       <button class=" tbtn2  "    >    <a  href="{{amountInput}}"  data-toggle="modal" class="cart-btn mr-2" >  Amount </a></button>

    </div>

  </section>
</main>


<!--  ///////////////////////////////////////////////////////  -->


<!--  ///////////////////////////////////////////////////////  -->


<main>
  <header>
    <h1> Offers </h1>
    <p>
      <span class="text-white bg-wite">&#139;</span>
      <span>&#155;</span>
    </p>
  </header>

  <section>
    <div class="product" *ngFor="let c of Offer">
      <div class="product-image" >
        <a routerLink="/singleProduct/{{c.itemID}}" >
          <img src="data:image/jpeg;base64,{{ c.image }}" alt=""></a>
      </div>
      <div class="detail"  >
        <p>
          <b>{{c.name}}</b><br>
          <small> {{c.description}} </small><br>
          <b>Offer</b>
          <samp class="text-success ">  25%</samp>
        </p>
      </div>
       <button class=" tbtn  "  (click)="addtocart(c)"  data-toggle="modal"> <a  class="cart-btn" ><i class="fas fa-shopping-cart"></i> Add to Cart</a></button>
       <button class=" tbtn2  "    >    <a  href="{{amountInput}}"  data-toggle="modal" class="cart-btn mr-2" >  Amount </a></button>

    </div>

  </section>
</main>


<!--  ///////////////////////////////////////////////////////  -->


<header class="mb-1 "  >
  <h1 > All Dishes </h1>

</header>

          <div class="row product-lists  mb-5  h-100" >
            <div class=" mb -3  col-lg-4 col-md-6 text-center strawberry order:1" *ngFor="let c of alldishes">
              <div class=" my-5 single-product-item">
                <div class="product-image" >
                  <a routerLink="/singleProduct/{{c.itemID}}" >
                    <img src="data:image/jpeg;base64,{{ c.image }}" alt=""></a>

                </div>
                <h3>{{c.name}}</h3>
                <p class="product-price"><span>
                </span> {{c.price}} EGP </p>
                <a href="{{amountInput}}"  data-toggle="modal" class="cart-btn mr-2" >   <button   > Amount</button> </a>
               <button   (click)="addtocart(c)" data-toggle="modal"> <a  class="cart-btn" ><i class="fas fa-shopping-cart"></i> Add to Cart</a></button>
                <!-- href="cart" -->



                <!-- <div id="editEmployeeModal" class="modal fade">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <form>
                        <div class="modal-header">
                          <h4 class="modal-title"></h4>
                          <button  type="button" class="close" data-dismiss="modal"
                      aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">

                          <div class="form-group"  >
                            <label>Amount</label>
                            <input type="number" class="form-control" >

                          </div>









                        </div>
                        <div class="modal-footer">
                          <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                          <input type="submit" class="btn btn-info"   value="Save" >
                        </div>
                      </form>
                    </div>
                  </div>
                </div> -->







                <div id="editEmployeeModal" class="modal fade">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <form>
                        <div class="modal-header">
                          <h4 class="modal-title"></h4>
                          <button type="button" class="close" data-dismiss="modal"
                      aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                          <div class="form-group">
                            <label>Amount</label>
                            <input type="text" class="form-control" required  (change)="amount($event)">
                          </div>


                        </div>
                        <div class="modal-footer">
                          <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                          <input type="submit" routerLink="" class="btn btn-info" data-dismiss="modal" (click)="save()" value="Save">
                        </div>
                      </form>
                    </div>
                  </div>
                </div>








              </div>
            </div>




<!--

            <div class="row">
              <div class="col-lg-4 col-md-6 text-center">
                <div class="single-product-item">
                  <div class="product-image">
                    <a href="single-product.html"><img src="assets/img/products/product-img-1.jpg" alt=""></a>
                  </div>
                  <h3>Strawberry</h3>
                  <p class="product-price"><span>Per Kg</span> 85$ </p>
                  <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 text-center">
                <div class="single-product-item">
                  <div class="product-image">
                    <a href="single-product.html"><img src="assets/img/products/product-img-2.jpg" alt=""></a>
                  </div>
                  <h3>Berry</h3>
                  <p class="product-price"><span>Per Kg</span> 70$ </p>
                  <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0 text-center">
                <div class="single-product-item">
                  <div class="product-image">
                    <a href="single-product.html"><img src="assets/img/products/product-img-3.jpg" alt=""></a>
                  </div>
                  <h3>Lemon</h3>
                  <p class="product-price"><span>Per Kg</span> 35$ </p>
                  <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                </div>
              </div>
            </div> -->









          </div>

          <!-- <div class="col-lg-12 text-center" style="height: 2000px; "></div> -->
          <div class="pagination " >
          <div class="col-lg-12 text-center order:50   mt-5">
            <div class="pagination-wrap">
              <ul>
                <li><a href="#">Prev</a></li>
                <li><a href="#">1</a></li>
                <li><a class="active" href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">Next</a></li>
              </ul>
            </div>
            </div>
          </div>
          <!-- <div class="row mt-5 order: -1 " > -->




<!-- <div class="row mt-5 order: -1 " > -->




    </div>
  </div>
  <!-- </div> -->
  <!-- end products -->


<<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>



