
<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg " style="height: 500px;">
  <div class="" >
    <div class="row">
      <div class="col-lg-12  ">
        <img class="" style="width:100%; height: auto ;margin-top: -100px;" src="https://s3-eu-west-1.amazonaws.com/elmenusv5-stg/Normal/9ac7f67e-0927-4347-a1f8-6c62d9c41c9b.jpg">
      </div>
      <div col-lg-3 style="width: 200px; height: 200px; z-index: 1;">
        <img style=" border-radius: 50%; margin-top: -20px;" src="https://s3-eu-west-1.amazonaws.com/elmenusv5-stg/Normal/03ba3a38-6ed1-43a5-8ade-9f1fa91ed224.jpg">
      </div>
      <div class="col-lg-9  text-left">
        <div class="breadcrumb-text">
          <h1>KFC</h1>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- end breadcrumb section -->


<div class="row product-lists" >
  <div class="  col-lg-2 col-md-4 text-center strawberry ">
    <div class="single-product-item">
      <div class="product-image">
        <a href="\singleProduct"><img src="https://s3-eu-west-1.amazonaws.com/elmenusv5-stg/Thumbnail/0ec204db-24b2-45fe-8de1-ee586c92f969.jpg" alt=""></a>
      </div>
      <h3>Strawberry</h3>
      <p class="product-price"><span>Per Kg</span> 85$ </p>
      <a href="cart" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
    </div>
  </div>

  <div class="col-lg-2 col-md-4 text-center berry">
    <div class="single-product-item">
      <div class="product-image">
        <a href="\singleProduct"><img src="https://s3-eu-west-1.amazonaws.com/elmenusv5-stg/Thumbnail/67bb0d57-2a2b-42df-93f4-061c4f773ba7.jpg" alt=""></a>
      </div>
      <h3>Berry</h3>
      <p class="product-price"><span>Per Kg</span> 70$ </p>
      <a href="cart" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
    </div>
  </div>


  <div class="col-lg-2 col-md-4 text-center lemon">
    <div class="single-product-item">
      <div class="product-image">
        <a href="\singleProduct"><img src="https://s3-eu-west-1.amazonaws.com/elmenusv5-stg/Thumbnail/24d7b4b4-0a7e-4931-b45a-bdfef384f040.jpg" alt=""></a>
      </div>
      <h3>Lemon</h3>
      <p class="product-price"><span>Per Kg</span> 35$ </p>
      <a href="cart" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
    </div>
  </div>


  <div class="col-lg-2 col-md-4 text-center">
    <div class="single-product-item">
      <div class="product-image">
        <a href="\singleProduct"><img src="https://s3-eu-west-1.amazonaws.com/elmenusv5-stg/Thumbnail/c4da9a59-7f31-4df7-b318-96c4c425b221.jpg" alt=""></a>
      </div>
      <h3>Avocado</h3>
      <p class="product-price"><span>Per Kg</span> 50$ </p>
      <a href="cart" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
    </div>
  </div>


  <div class="col-lg-2 col-md-4 text-center">
    <div class="single-product-item">
      <div class="product-image">
        <a href="\singleProduct"><img src="https://s3-eu-west-1.amazonaws.com/elmenusv5-stg/Thumbnail/edccef4c-49ba-4bb4-9e45-ee11e74ca9ab.jpg" alt=""></a>
      </div>
      <h3>Green Apple</h3>
      <p class="product-price"><span>Per Kg</span> 45$ </p>
      <a href="cart" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
    </div>
  </div>


  <div class="col-lg-2 col-md-4 text-center strawberry">
    <div class="single-product-item">
      <div class="product-image">
        <a href="\singleProduct"><img src="https://s3-eu-west-1.amazonaws.com/elmenusv5-stg/Thumbnail/5b07e106-d5ec-48ba-9537-a464d861e3eb.jpg" alt=""></a>
      </div>
      <h3>Strawberry</h3>
      <p class="product-price"><span>Per Kg</span> 80$ </p>
      <a href="cart"class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
    </div>
  </div>

</div>

<div class="col-lg-8 text-center" style="height: 50px; ;"></div>

<!-- <div class="row mt-5 order: -1 " > -->
  <div class="col-lg-12 text-center order:50 ">
    <div class="pagination-wrap">
      <ul>
        <li><a href="#">Prev</a></li>
        <li><a href="#">1</a></li>
        <li><a class="active" href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">Next</a></li>
      </ul>
    </div>
  </div>
