

#container{

    margin-top: 6rem;
    margin-top: 1rem;
  
  }
  
  
  .panar{
    margin-top: -2rem;
    width: 100%;
    height: 100px;
    background-color: #051922;
    background-color:  #051922;
    z-index:600000 !important;
  }
  
  .clearfix::after{
    content: "";
    clear: both;
  
  }
  
  /* #212529; #051922; */
  