

<!-- footer -->
<div class="footer-area">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-lg-3 col-md-6">
        <div class="footer-box about-widget">
          <h2 class="widget-title">About us</h2>
          <p style="text-align: justify;">Welcome to the .NET Developer Team at ITI! We are a group of skilled developers who are passionate about building web applications that are efficient, user-friendly, and visually appealing. Our mission is to create a web application that is similar to popular fast-food applications like Talabat and elmenus, by integrating Web APIs and Angular.
          <br>
            </p>
            <p style="text-align: justify;">
              Our team is made up of six talented individuals, each bringing their unique skills and expertise to the table.
              :
            </p>
            <ul class="ml-2" style="color:chocolate; font-weight: bold; font-size: large;">
              <li>1-Peter Ezzat Zakher</li>
              <li>2-Ahmed Mohamed Abuhilal</li>
              <li>3-Mariam Nasser Sayed</li>
              <li>4-Rokaya Adel Bahr</li>
              <li>5-Menna Allah Mahrouse Hamed</li>
              <li>6-Somaya Muhammad Muhammad</li>
            </ul>
        </div>
      </div>
     
      <div class="col-lg-3 col-md-6">
        <div class="footer-box pages">
          <h2 class="widget-title">Pages</h2>
          <ul>
            <li><a href="AllResturants">All Resturants</a></li>
            <li><a href="news.html">News</a></li>
            <li><a href="contactus">Contact</a></li>
          </ul>
        </div>
      </div>
      <!-- <div class="col-lg-3 col-md-6">
        <div class="footer-box subscribe">
          <h2 class="widget-title">Subscribe</h2>
          <p>Subscribe to our mailing list to get the latest updates.</p>
          <form action="index.html">
            <input type="email" placeholder="Email">
            <button type="submit"><i class="fas fa-paper-plane"></i></button>
          </form>
        </div>
      </div> -->
    </div>
  </div>
  </div>
  <!-- end footer -->

  <!-- copyright -->
  <div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <p>Copyrights &copy; 2019 - <a href="https://imransdesign.com/">Imran Hossain</a>,  All Rights Reserved.<br>
          Distributed By - <a href="https://themewagon.com/">Themewagon</a>
        </p>
      </div>
      <div class="col-lg-6 text-right col-md-12">
        <div class="social-icons">
          <ul>
            <li><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </div>
