
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<h1>Cart</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- cart -->
	<div class="cart-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-12">
					<div class="cart-table-wrap">
						<table class="cart-table">
							<thead class="cart-table-head">
								<tr class="table-head-row">
									<th class="product-remove"></th>
									<th class="product-image">Product Image</th>
									<th class="product-name">Name</th>
									<th class="product-price">Price</th>
									<th class="product-quantity">Quantity</th>
									<th class="product-total">Total</th>
								</tr>
							</thead>
							<tbody>
								<tr class="table-body-row" *ngFor=" let item of dishesInCart;" >
									<td class="product-remove">  <a  (click)="deleteItem(item)"><i class="far fa-window-close"></i></a></td>
									<td class="product-image"><img src="{{item.image                  }}" alt=""></td>
									<td class="product-name">{{item.name}}</td>

									<td class="product-price">{{item.price}}</td>
									<td class="product-quantity">
                    <div class="quantity row">


                    <button class="btn btn-dark w-25 ml-4 col-2" (click)="minsAmount(item)">-</button>
                    <input type="number" class="form-control w-25 col-5"  [(ngModel)]="item.quantity" (change)="quantatychange()"  value = "{{item.quantity}}" >
                    <button class="btn btn-dark w-25 col-2" (click)="addAmount(item)">+</button>

                   </div>
                  </td>
									<td class="product-total">{{item.price * item.quantity }}</td>
								</tr>

							</tbody>
						</table>
					</div>
				</div>

				<div class="col-lg-4">
					<div class="total-section">
						<table class="total-table">
							<thead class="total-table-head">
								<tr class="table-total-row">
									<th>Total</th>
									<th>Price</th>
								</tr>
							</thead>
							<tbody>
								<tr class="total-data">
									<td><strong>Subtotal: </strong></td>
									<td>${{total}}</td>
								</tr>
								<tr class="total-data">
									<td><strong>Shipping: </strong></td>
									<td>${{Shipping}}</td>
								</tr>
								<tr class="total-data">
									<td><strong>Total: </strong></td>
									<td>${{total+Shipping}}</td>
								</tr>
							</tbody>
						</table>
						<div class="cart-buttons ">
							<!-- <a href="cart.html" class="boxed-btn">Update Cart</a> -->
							<a href="/checkOut" class="boxed-btn black">Check Out</a>
              <a  class="boxed-btn black" (click)="deleteAll()">Remove Cart</a>

						</div>
					</div>

					<div class="coupon-section">
						<h3>Apply Coupon</h3>
						<div class="coupon-form-wrap">
							<form action="index.html">
								<p><input type="text" placeholder="Coupon"></p>
								<p><input type="submit" value="Apply"></p>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end cart -->

