<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg " style="height: 500px;">
  <div class="" >
    <div class="row">
      <div class="col-lg-12  ">
        <img class="" style="width:100%; height: auto ;margin-top: -100px;" src="https://s3-eu-west-1.amazonaws.com/elmenusv5-stg/Normal/9ac7f67e-0927-4347-a1f8-6c62d9c41c9b.jpg">
      </div>
      <div col-lg-3 style="width: 200px; height: 200px; z-index: 1;">
        <img style=" border-radius: 50%; margin-top: -20px;" src="https://s3-eu-west-1.amazonaws.com/elmenusv5-stg/Normal/03ba3a38-6ed1-43a5-8ade-9f1fa91ed224.jpg">
      </div>
      <div class="col-lg-9  text-left">
        <div class="breadcrumb-text">
          <h1>KFC</h1>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- end breadcrumb section -->


  <div class="row product-lists" >
    <div class="  col-lg-3 col-md-3 text-center strawberry mt-5 ml-5 ">
      <div class="single-product-item">
        <div class="product-image">
          <a href="\singleProduct"><img src="https://s3-eu-west-1.amazonaws.com/elmenusv5-stg/Thumbnail/0ec204db-24b2-45fe-8de1-ee586c92f969.jpg" alt=""></a>
        </div>
        <h3>Strawberry</h3>
        <p class="product-price"><span>Per Kg</span> 85$ </p>
        <a href="cart" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
      </div>
    </div>
  

  
  </div>


  <!-- <app-filterbycat></app-filterbycat> -->