
body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	background: #e3e9f7;
}
nav ul {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 300px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #262626;
}
nav ul li {
	list-style: none;
}
nav ul li a {
	display: block;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
	color: #fff;
	position: relative;
	padding: 25px 0 25px 38px;
}
nav ul li a:before {
	content: '';
	position: absolute;
	top: 0px;
	right: 0px;
	width: 0%;
	height: 100%;
	background: #e3e9f7;
	border-radius: 40px 0px 0px 40px;
	z-index: -1;
	transition: all 300ms ease-in-out;
}
nav ul li a:hover {
	color: #2b2626;
}
nav ul li a:hover:before {
	width: 95%;
}
.wrapper {
	margin-left: 260px;
}
.section {
	display: grid;
	place-items: center;
	min-height: 100vh;
	text-align: center;
}
.box-area h2 {
	text-transform: uppercase;
	font-size: 50px;
}
.box-area p {
	line-height: 2;
}
.box-area {
	width: 75%;
}
.logo {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	overflow: hidden;
	margin: 25px auto;
}
.logo img {
	width: 100%;
}
p {
	font-size: 29px;
	text-align: left;
	font-weight: bold;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a {
	font-size: 20px;
	transition: 0.5s;
}
a:hover{
	color: aquamarine;
}


h1 {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.btn{
	text-decoration: none;
	color: #fff;
	background-color:black;
	width: 100px;
	display: inline-block;
	padding: 10px 20px;
	border-radius: 24px;
	letter-spacing: 1px;
	transition: 0.5s ease-in-out;
}

.btn:hover{
	background-color: #18233f;
	transform: scale(1.1);
}


.title{
	font-size: 2em;
	cursor: default;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.4s ease;
}
